.usercard {
    height: 200px;
    width: 500px;
    display: flex;
    border: 1px solid black;
    margin: 3%;
    font-size: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.usercard img {
    width: 200px;
    margin-right: 20px;
}

.spotlight {
    height: auto;
    width: 500px;
    margin: 0 auto;
}

